@charset "UTF-8";

 $primary-color:cadetblue;

.TodoTemplate {
    width: flex;
    margin: 20px 20px 20px 20px;
}


nav {
    margin: 0px 20px 20px 0px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li {
        justify-items: center;
        margin-left: 7%;
        margin-right: 7%;
        display: inline-block;
    }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }


.TodoAdd{
    margin: 20px 0px 20px 0px;
}



.input {
    width: 70%;
    margin-right: 20px;
}



.TodoList-Table-Head {
    margin-left: 20px;
    tr {
    height: 50px;
    }
}

.TodoList-Table-Body {
    tr {
    height: 30px;
    }
} 


.todoTitle {
    width: 400px;
}
